.navbar{
    background-color: var(--yellow-theme-nav-background-color);
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
}

.container{
    display: flex;
    align-items: center;
    width: 100%;
    height: inherit;
    padding: 0px 20px;
    flex: 1;
}

.logo{
    color: var(--yellow-theme-main-color);
    cursor: pointer;
}

.menu{
    display: flex;
    list-style: none;
    text-align: center;
}

.nav-icons{
    display: none;
}

.menuItem{
    line-height: 40px;
    margin-right: 1.5rem;
    font-size: 1.6rem;
}

.menuItem::after{
    content: '';
    display: block;
    height: 3px;
    width: 0;
    background: transparent;
    transition: all 0.5s ease;
}

.menuItem:hover::after{
    width: 100%;
    background: var(--yellow-theme-main-color);
}

.menuItemLinks{
    color: var(--yellow-theme-main-color);
    text-decoration: none;
    padding: 0.5rem;
}

@media only screen and (max-width : 768px){
    .menu{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        position: absolute;
        top: 80px;
        left: -110%;
        opacity: 1;
        transition: all 0.5s ease;
    }

    .nav-icons{
        display: block;
        cursor: pointer;
        color: var(--yellow-theme-main-color);
        padding-right: 20px;
    }

    .menu.active{
        background: #181818;
        left: 0px;
        opacity: 1;
    }

    .menuItem{
        border-bottom: 1px solid #282828;
        margin: 0;
        padding: 20px 0;
    }
}